html, body {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 5px;
}

.described {
    display: block;
    width: 100%;
    height:29.111%;
    background: #4169E1;
    margin: 0 auto;
    } 
p {
 text-align: center;
 font: 4em/ 2 BRUSH SCRIPT MT;
 color: #F8F8FF;
    
}
.branch {
    display: block;
    width: 604px;
    height: 340px;
    background: white;
    text-align: center;
    margin: 0 auto;
} 
.Textunder p {
 text-align: left;
 font: 1.3em/ 2 bookman old style;
 color:black;
 text-align: center;
    }
.branch2 {
    display: block;
    width: 604px;
    height: 340px;
    background: white;
} 

.Textunder p{
 text-align: left;
 font: 4em/ 2 bookman old style;
 color:black;
 text-align: center;
    }  
    .branch3 {
    display: block;
    width: 604px;
    height: 340px;
    background: white;
} 
.Textunder p {
 text-align: left;
 font: 0.3em/ 2 bookman old style;
 color:black;
 text-align: center;
    }
 
    .branch4{
    display: block;
    width: 604px;
    height: 340px;
    background: white;
} 

.Textunder p {
 text-align: left;
 font: 0.3em/ 2 bookman old style;
 color:black;
 text-align: center;
    }
    
#branch1 {
    display: block;
    width: 100%;
    height: 20%;
    background: #4169E1;
}
foter {
    display: block;
    width: 100%;
    height:29.111%;
    background: #4169E1;
   
  }